<footer class="footer_wrap" id="footer">

<div class="column col-1">
	<p><strong>Jalinder jag</strong> is the personal portfolio of freelance designer /
            developer - Jason Mayo. Showcasing UI &amp; Interactive work, as well as
            Graphic, Print &amp; Motion design.</p>
    <a href="http://jasonmayo.co.uk/index.php/about/" title="More" class="ui-button">More</a>
</div>

<div class="column col-1 fr last">
    <p>Hand Coded in England<br>Running on <a href="http://www.expressionengine.com" target="_blank">Expression Engine</a></p>
</div>

</footer>
